body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

gradio-app {
    background:
        radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #fcfcfc 54% 57%, #0000 59%) 0 calc(224px/2),
        radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #fcfcfc 54% 57%, #0000 59%) calc(224px/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #fcfcfc 54% 57%, #0000 59%),
        radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #fcfcfc 54% 57%, #0000 59%),
        #ffffff !important;
    background-size: calc(224px/4.667) 224px, 224px calc(224px/4.667) !important;

}

# .secondary-text {
    color: #999 !important;
}

footer {
    visibility: hidden
}

.env-warning {
    color: #dd5500 !important;
}

.env-success {
    color: #559900 !important;
}

.logo {
    border: transparent;
    filter: saturate(0%);
    background-color: transparent !important;
    max-width: 4vh;
    margin-bottom: -1.2em;
}

.logo label {
    display: none;
}

.logo .top-panel {
    display: none;
}

.title {
    text-align: center;
}

.title h2 {
    color: #999999 !important;
}

.question {
    text-align: center;
}

.question h2 {
    color: #165DFF !important;
}

.info-text {
    text-align: center;
    margin-top: -5px;
}

.info-text p {
    color: #aaaaaa !important;
}

@keyframes pulse-background {
    0% {
        background-color: #FFFFFF;
    }

    25% {
        background-color: #FFFFFF;
    }

    50% {
        background-color: #E8F3FF;
    }

    75% {
        background-color: #FFFFFF;
    }

    100% {
        background-color: #FFFFFF;
    }
}

/* Add dashed border to input-file class */
.input-file {
    border: 1.2px dashed #165DFF !important;
    border-radius: 6px !important;
    # background-color: #ffffff !important;
    animation: pulse-background 2s ease-in-out;
    transition: background-color 0.4s ease-out;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

.input-file:hover {
    border: 1.2px dashed #165DFF !important;
    border-radius: 6px !important;
    color: #165DFF !important;
    background-color: #E8F3FF !important;
    transition: background-color 0.2s ease-in;
    box-shadow: 4px 4px 20px rgba(22, 93, 255, 0.1);
}

.input-file label {
    color: #165DFF !important;
    border: 1.2px dashed #165DFF !important;
    border-left: none !important;
    border-top: none !important;
}

.input-file .top-panel {
    color: #165DFF !important;
    border: 1.2px dashed #165DFF !important;
    border-right: none !important;
    border-top: none !important;
}

.input-file .filename {
    color: #165DFF !important;
    background-color: #FFFFFF !important;
}

.input-file .download {
    color: #165DFF !important;
    background-color: #FFFFFF !important;
}

.input-file .wrap {
    color: #165DFF !important;
}

.input-file .or {
    color: #165DFF !important;
}

.progress-bar-wrap {
    border-radius: 8px !important;
}

.progress-bar {
    border-radius: 8px !important;
}

.options-row {
    align-items: center;
    display: flex;
    padding: 0 20vw 0 20vw !important;
}

.options-row .wrap {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.options-row .form label {
    color: #999;
}

.options-row .form {
    border: none !important;
    align-items: center !important;
}

.options-row [data-testid="block-info"] {
    display: none !important;
}

.logo-row {
    align-items: center;
}

.title-row {
    align-items: center;
}

.details-row {
    align-items: center;
}

.hide-frame {
    border: none !important;
}

.hide-frame .top-panel {
    display: none !important;
}

.hide-frame label {
    display: none !important;
}

.options-icon {
    height: 2em;
    width: 2em;
}

.preview-block .top-panel {
    display: none !important;
}

.preview-block {
    # width: 80vw !important;
    margin: 0 auto !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #eeeeee !important;
}

.preview-block .image-frame {
    width: 100% !important;
    # height: auto !important;
    object-fit: cover !important;
}

.preview-block .image-frame img {
    width: var(--size-full);
    object-fit: cover !important;
}

.options-modal {
    position: absolute !important;
    # top: 20vh !important;
    left: 50vw !important;
    transform: translate(-25vw, -0vh) !important;
    z-index: 1000 !important;
    background: white !important;
    padding: 2rem !important;
    border-radius: 8px !important;
    box-shadow: 4px 4px 10px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.02) !important;
    width: 400px !important;
}

.options-modal .gr-group {
    background: white !important;
}

.options-modal .styler {
    background: white !important;
}

.options-modal h3 {
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
    color: #333 !important;
}

.options-modal .form {
    margin-bottom: 1.5rem !important;
}

.options-modal .row {
    justify-content: flex-end !important;
    gap: 1rem !important;
}

.options-modal div button .secondary {
    background-color: white !important;
}

.options-modal button {
    min-width: 80px !important;
}

.options-btn {
    line-height: var(--line-md);
    background-color: #FFFFFF;
    border: 1.2px solid var(--checkbox-label-border-color) !important;
    border-radius: 6px !important;
    # color: var(--checkbox-label-border-color) !important;
    color: #999;
    font-weight: 500;
    font-size: var(--text-md);
    padding: 0.8em 1em 0.8em 1em !important;
    margin: 0.5em !important;
    transition: background-color 0.2s ease-in;
}

.options-btn:hover {
    background-color: #fafafa;
    # border: 1.2px solid #fcfcfc !important;
}

.form {
    background-color: rgba(0, 0, 0, 0) !important;
}

.first-page-checkbox {
    border: 1.2px solid var(--checkbox-label-border-color) !important;
    border-radius: 6px !important;
    font-weight: 500;
    padding: 0.8em 1em 0.8em 1em !important;
    background-color: #ffffff;
    !important;
    margin: 0.5em !important;
    align-items: center !important;
    font-size: var(--text-md);
    # color: var(--checkbox-label-border-color) !important;
    color: #999;
    transition: background-color 0.2s ease-in;
}

.first-page-checkbox label {
    align-items: center !important;
}

.first-page-checkbox:hover {
    border: 1.2px solid var(--checkbox-label-border-color) !important;
    color: #165DFF !important;
    background-color: #fafafa;
    !important;
}